<style>
div#fameDlg thead th:nth-child(1), div#fameDlg tbody td:nth-child(1) {width:40px}
div#fameDlg thead th:nth-child(2), div#fameDlg tbody td:nth-child(2) {width:150px}
div#fameDlg thead th:nth-child(3), div#fameDlg tbody td:nth-child(3) {width:40px}
div#fameDlg thead th:nth-child(4), div#fameDlg tbody td:nth-child(4) {width:40px}
div#fameDlg thead th:nth-child(5), div#fameDlg tbody td:nth-child(5) {width:40px}
div#fameDlg thead th:nth-child(6), div#fameDlg tbody td:nth-child(6) {width:40px}
div#fameDlg thead th:nth-child(7), div#fameDlg tbody td:nth-child(7) {width:40px}
div#fameDlg thead th:nth-child(8), div#fameDlg tbody td:nth-child(8) {width:40px}
div#fameDlg thead th:nth-child(9), div#fameDlg tbody td:nth-child(9) {width:40px}
div#fameDlg thead th:nth-child(10), div#fameDlg tbody td:nth-child(10) {width:40px}
</style>
<div id=fameDlg class=uiModal>
    <div class=uiModalDlg style="width:900px;">
    <header>
        <img src=../res/img/icon_fame_d.png alt=icon />
        <span>Hall of Fame</span>
        <a class=closeBtn href=#close>X</a>
    </header>
    <main>
        <ul class=uiTabs>
        <li><a href=#>England</a></li>
        <li><a href=#>Italy</a></li>
        <li><a href=#>Spain</a></li>
        </ul>
        <table class=uiTable>
            <thead>
                <tr>
                <th scope=col>#</th>
                <th scope=col>Team</th>
                <th scope=col>MP</th>
                <th scope=col>W</th>
                <th scope=col>D</th>
                <th scope=col>L</th>
                <th scope=col>GF</th>
                <th scope=col>GA</th>
                <th scope=col>GD</th>
                <th scope=col>PT</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=10><span>Division 1</span></td>
                </tr>
            </tfoot>
        </table>
    </main>
    </div>
</div>

<script templ=league type=text/templ>
    <td scope=col>POS</td>
    <td scope=col>TEAM</td>
    <td scope=col>MP</td>
    <td scope=col>W</td>
    <td scope=col>D</td>
    <td scope=col>L</td>
    <td scope=col>GF</td>
    <td scope=col>GA</td>
    <td scope=col>GD</td>
    <td scope=col>PT</td>
</script>

<script name=fameDlg>
    var
    me = this,
    activeTab,
    leagueRow = document.querySelector('script[templ=league]').textContent,
    showLeague = function(){
        var
        table = document.querySelector('div#fameDlg table.uiTable tbody'),
        row;

        table.innerHTML = '';

        for(var i=0,l=14; i<l; i++){
            row = document.createElement('tr');
            row.innerHTML = leagueRow
                .replace('POS', (i+1))
                .replace('TEAM', 'Team Name'+i)
                .replace('MP', 1234)
                .replace('GF', 1234)
                .replace('GA', 1234)
                .replace('GD', 1234)
                .replace('PT', 1234)
                .replace('W', 1234)
                .replace('D', 1234)
                .replace('L', 1234);
            table.appendChild(row);
        }
    },
    onChangePage = function(evt){
        evt.preventDefault();
        evt.stopPropagation();

        var a = evt.currentTarget;
        if (a !== activeTab){
            activeTab.id = '';
            a.id = 'current';
            activeTab = a;
            switch(a.textContent){
                case 'England':
                    showLeague();
                    break;
                case 'Italy':
                    showLeague();
                    break;
                case 'Spain':
                    showLeague();
                    break;
            }
        }

        return false;
    },
    onLoad = function(){
        var
        ul = document.querySelector('ul.uiTabs'),
        lis = ul.children,
        li, a;

        for(var i=0,l=lis.length; i<l; i++){
            li = lis[i];
            a = li.querySelector('a');
            a.addEventListener('click', onChangePage, false);
            if (0 === i){
                a.id = 'current';
                activeTab = a;
            }
        }
        showLeague();
    };

    me.slot(pico.LOAD, onLoad);
</script>
