<style>
div#fameDlg thead th:nth-child(1), div#fameDlg tbody td:nth-child(1) {width:40px}
div#fameDlg thead th:nth-child(2), div#fameDlg tbody td:nth-child(2) {width:150px}
div#fameDlg thead th:nth-child(3), div#fameDlg tbody td:nth-child(3) {width:40px}
div#fameDlg thead th:nth-child(4), div#fameDlg tbody td:nth-child(4) {width:40px}
div#fameDlg thead th:nth-child(5), div#fameDlg tbody td:nth-child(5) {width:40px}
div#fameDlg thead th:nth-child(6), div#fameDlg tbody td:nth-child(6) {width:40px}
div#fameDlg thead th:nth-child(7), div#fameDlg tbody td:nth-child(7) {width:40px}
div#fameDlg thead th:nth-child(8), div#fameDlg tbody td:nth-child(8) {width:40px}
div#fameDlg thead th:nth-child(9), div#fameDlg tbody td:nth-child(9) {width:40px}
div#fameDlg thead th:nth-child(10), div#fameDlg tbody td:nth-child(10) {width:40px}
</style>

<div id=fameDlg class=uiModal>
    <div class=uiModalDlg style="width:910px;">
    <header>
        <img src=../res/img/icon_fame_d.png alt=icon />
        <span>Hall of Fame</span>
        <a class=closeBtn href=#close>X</a>
    </header>
    <main>
        <ul class=uiTabs>
        <li><a href=#>England</a></li>
        <li><a href=#>Italy</a></li>
        <li><a href=#>Spain</a></li>
        </ul>
        <table class=uiTable>
            <thead>
                <tr>
                <th scope=col>#</th>
                <th scope=col>Team</th>
                <th scope=col>MP</th>
                <th scope=col>W</th>
                <th scope=col>D</th>
                <th scope=col>L</th>
                <th scope=col>GF</th>
                <th scope=col>GA</th>
                <th scope=col>GD</th>
                <th scope=col>PT</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=10><span>Division 1</span></td>
                </tr>
            </tfoot>
        </table>
    </main>
    </div>
</div>

<script templ=leagueRow type=text/templ>
    <td scope=col>POS</td>
    <td scope=col>TEAM</td>
    <td scope=col>MP</td>
    <td scope=col>W</td>
    <td scope=col>D</td>
    <td scope=col>L</td>
    <td scope=col>GF</td>
    <td scope=col>GA</td>
    <td scope=col>GD</td>
    <td scope=col>PT</td>
</script>

<script templ=leagueFooter type=text/templ>
    <tr><td colspan=10><span>DIVISION</span></td></tr>
</script>

<script name=dlgFame>
    this.use(G_SESSION.LEAGUE_DATA);
    this.use(G_SESSION.USER_DATA);

    var
    me = this,
    Random = Math.random,
    Floor = Math.floor,
    activeTab,
    leagueRow = document.querySelector('script[templ=leagueRow]').textContent,
    leagueFooter = document.querySelector('script[templ=leagueFooter]').textContent,
    tableBody = document.querySelector('div#fameDlg table.uiTable tbody'),
    tableFoot = document.querySelector('div#fameDlg table.uiTable tfoot'),
    sortScore = function(a, b){
        return a[0] - b[0];
    },
    showLeague = function(err, res){
        var
        league = res['all'],
        table = league.table,
        leagueId = league.id,
        row;

        tableBody.innerHTML = '';
        table.sort(sortScore);

        for(var i=0,l=table.length; i<l; i++){
            row = document.createElement('tr');
            score = table[i];

            row.innerHTML = leagueRow
                .replace('POS', i+1)
                .replace('TEAM', score[1])
                .replace('MP', score[2])
                .replace('GF', score[6])
                .replace('GA', score[7])
                .replace('GD', score[8])
                .replace('PT', score[9])
                .replace('W', score[3])
                .replace('D', score[4])
                .replace('L', score[5]);
            tableBody.appendChild(row);
        }
        tableFoot.innerHTML = leagueFooter.replace('DIVISION', 'Division '+leagueId);
    },
    showDemoLeague = function(){
        var
        row;
        tableBody.innerHTML = '';

        for(var i=0,l=14; i<l; i++){
            row = document.createElement('tr');
            row.innerHTML = leagueRow
                .replace('POS', (i+1))
                .replace('TEAM', 'Team Name'+i)
                .replace('MP', Floor(Random()*64))
                .replace('GF', Floor(Random()*640))
                .replace('GA', Floor(Random()*640))
                .replace('GD', Floor(Random()*640))
                .replace('PT', Floor(Random()*192))
                .replace('W', Floor(Random()*64))
                .replace('D', Floor(Random()*64))
                .replace('L', Floor(Random()*64));
            tableBody.appendChild(row);
        }
        tableFoot.innerHTML = leagueFooter.replace('DIVISION', 'Division '+Floor(Random()*100));
    },
    onChangePage = function(evt){
        evt.preventDefault();
        evt.stopPropagation();

        var a = evt.currentTarget;
        if (a !== activeTab){
            activeTab.id = '';
            a.id = 'current';
            activeTab = a;
            switch(a.textContent){
                case 'England':
                    me.refresh(); // TODO: should read from local
                    break;
                case 'Italy':
                    showDemoLeague();
                    break;
                case 'Spain':
                    showDemoLeague();
                    break;
            }
        }

        return false;
    },
    onLoad = function(){
        var
        ul = document.querySelector('ul.uiTabs'),
        lis = ul.children,
        li, a;

        for(var i=0,l=lis.length; i<l; i++){
            li = lis[i];
            a = li.querySelector('a');
            a.addEventListener('click', onChangePage, false);
            if (0 === i){
                a.id = 'current';
                activeTab = a;
            }
        }

        me.refresh();
    };

    me.refresh = function(){
        var
        leagueData = me[G_SESSION.LEAGUE_DATA],
        userData = me[G_SESSION.USER_DATA],
        user = userData.getMe();
                    
        leagueData.request(G_CCONST.READ, {userId: user.userId}, showLeague);
    };

    me.slot(pico.LOAD, onLoad);
</script>
