<style>
#playerLeftCol, #playerRightCol{
    display:inline-block;
    margin:10px;
}
#playerLeftCol span, #playerRightCol span{
    display:block;
    padding:5px;
}
.floatLeft{
}
#playerLeftCol{
    border-right: 4px groove #bebebe;
}
</style>
<div id=playerDlg class=uiModal>
    <div class=uiModalDlg style="width:1024px;">
    <header>
        <img src=../res/img/icon_train_d.png alt=icon />
        <span>Player Stats</span>
        <a class=closeBtn href=#trainDlg>X</a>
    </header>
    <main>
    <div id=playerLeftCol class=floatLeft>
    </div>
    <div id=playerRightCol class=floatLeft>
    </div>
    </main>
    </div>
</div>

<script type=text/templ templ=playerLeftCol>
<span>Name: NAME</span>
<span>Nationality: NAT</span>
<span>Age:AGE</span>
<span>Pref side: PREF_SIDE</span>
<span>Joined Date: JOINED_DATE</span>
</script>
<script type=text/templ templ=playerRightCol>
<span>Shooting: SH</span>
<span>Shot Stopping: ST</span>
<span>Passing: PS</span>
<span>Tackling: TK</span>
<span>Shooting Ability: SH_AB/1000</span>
<span>Shot Stopping Ability: ST_AB/1000</span>
<span>Passing Ability: PS_AB/1000</span>
<span>Tackling Ability: TK_AB/1000</span>
<span>Stamina: STAMINA</span>
<span>Agression: AG</span>
<span>Games: GAMES</span>
<span>Saves: SAVES</span>
<span>Tackles: TACKLES</span>
<span>Keypasses: KEYPASSES</span>
<span>Shots: SHOTS</span>
<span>Goals: GOALS</span>
<span>Assists: ASSISTS</span>
<span>dp: DP</span>
<span>Injury: INJURY</span>
<span>Suspension: SUSPENSION</span>
<span>Fitness: FITNESS</span>
</script>

<script name=dlgPlayer>
    var
    me = this,
    leftCol = document.querySelector('#playerLeftCol'),
    rightCol = document.querySelector('#playerRightCol'),
    playerLeftTempl = document.querySelector('script[templ=playerLeftCol]').textContent,
    playerRightTempl = document.querySelector('script[templ=playerRightCol]').textContent;

    me.setPlayer = function(player){
        leftCol.innerHTML = playerLeftTempl
            .replace('NAME', player.name)
            .replace('NAT', player.nationality)
            .replace('AGE', player.age)
            .replace('PREF_SIDE', player.pref_side)
            .replace('JOINED_DATE', player.createdAt);
        rightCol.innerHTML = playerRightTempl
            .replace('SH_AB', player.sh_ab)
            .replace('ST_AB', player.st_ab)
            .replace('PS_AB', player.ps_ab)
            .replace('TK_AB', player.tk_ab)
            .replace('SH', player.sh)
            .replace('ST', player.st)
            .replace('PS', player.ps)
            .replace('TK', player.tk)
            .replace('STAMINA', player.stamina)
            .replace('AG', player.ag)
            .replace('GAMES', player.games)
            .replace('SAVES', player.saves)
            .replace('TACKLES', player.tackles)
            .replace('KEYPASSES', player.keypasses)
            .replace('SHOTS', player.shots)
            .replace('GOALS', player.goals)
            .replace('ASSISTS', player.assists)
            .replace('DP', player.dp)
            .replace('INJURY', player.injury)
            .replace('SUSPENSION', player.suspension)
            .replace('FITNESS', player.fitness);
    };
</script>
