<style>
#playerDescribe td{
width:512px;
vertical-align:top;
}
#playerDescribe dt:nth-of-type(odd), #playerDescribe dd:nth-of-type(odd){
    background: #bebebe;
}
</style>

<div id=playerDlg class=uiModal>
    <div class=uiModalDlg style="width:1024px;">
    <header>
        <img src=../res/img/icon_train_d.png alt=icon />
        <span>Player Stats</span>
        <a class=closeBtn href=#trainDlg>X</a>
    </header>
    <main>
    <table><tbody><tr id=playerDescribe>
    <td><dl class=uiDescribe></dl></td>
    <td><dl class=uiDescribe></dl></td>
    </tr><tbody></table>
    </main>
    </div>
</div>

<script type=text/templ templ=playerLeftCol>
<dt>Name:</dt><dd>NAME</dd>
<dt>Nationality:</dt><dd>NAT</dd>
<dt>Age:</dt><dd>AGE</dd>
<dt>Prefer Side:</dt><dd>PREF_SIDE</dd>
<dt>Joined Date:</dt><dd>JOINED_DATE</dd>
</script>
<script type=text/templ templ=playerRightCol>
<dt>Shooting:</dt><dd>SH</dd>
<dt>Shot Stopping:</dt><dd>ST</dd>
<dt>Passing:</dt><dd>PS</dd>
<dt>Tackling:</dt><dd>TK</dd>
<dt>Shooting Ability:</dt><dd>SH_AB/1000</dd>
<dt>Shot Stopping Ability:</dt><dd>ST_AB/1000</dd>
<dt>Passing Ability:</dt><dd>PS_AB/1000</dd>
<dt>Tackling Ability:</dt><dd>TK_AB/1000</dd>
<dt>Stamina:</dt><dd>STAMINA</dd>
<dt>Agression:</dt><dd>AG</dd>
<dt>Games:</dt><dd>GAMES</dd>
<dt>Saves:</dt><dd>SAVES</dd>
<dt>Tackles:</dt><dd>TACKLES</dd>
<dt>Keypasses:</dt><dd>KEYPASSES</dd>
<dt>Shots:</dt><dd>SHOTS</dd>
<dt>Goals:</dt><dd>GOALS</dd>
<dt>Assists:</dt><dd>ASSISTS</dd>
<dt>dp:</dt><dd>DP</dd>
<dt>Injury:</dt><dd>INJURY</dd>
<dt>Suspension:</dt><dd>SUSPENSION</dd>
<dt>Fitness:</dt><dd>FITNESS</dd>
</script>

<script name=dlgPlayer>
    var
    me = this,
    leftCol = document.querySelector('#playerDescribe td:nth-child(1) dl'),
    rightCol = document.querySelector('#playerDescribe td:nth-child(2) dl'),
    playerLeftTempl = document.querySelector('script[templ=playerLeftCol]').textContent,
    playerRightTempl = document.querySelector('script[templ=playerRightCol]').textContent;

    me.setPlayer = function(player){
        leftCol.innerHTML = playerLeftTempl
            .replace('NAME', player.name)
            .replace('NAT', player.nationality)
            .replace('AGE', player.age)
            .replace('PREF_SIDE', player.pref_side)
            .replace('JOINED_DATE', player.createdAt);
        rightCol.innerHTML = playerRightTempl
            .replace('SH_AB', player.sh_ab)
            .replace('ST_AB', player.st_ab)
            .replace('PS_AB', player.ps_ab)
            .replace('TK_AB', player.tk_ab)
            .replace('SH', player.sh)
            .replace('ST', player.st)
            .replace('PS', player.ps)
            .replace('TK', player.tk)
            .replace('STAMINA', player.stamina)
            .replace('AG', player.ag)
            .replace('GAMES', player.games)
            .replace('SAVES', player.saves)
            .replace('TACKLES', player.tackles)
            .replace('KEYPASSES', player.keypasses)
            .replace('SHOTS', player.shots)
            .replace('GOALS', player.goals)
            .replace('ASSISTS', player.assists)
            .replace('DP', player.dp)
            .replace('INJURY', player.injury)
            .replace('SUSPENSION', player.suspension)
            .replace('FITNESS', player.fitness);
    };
</script>
