<div id=trainDlg class=uiModalDlg>
    <div style="width:1024px;">
        <a class=closeBtn href=#close>X</a>
        <ul class=tab>
            <li>Training</li>
        </ul>
<!--        <table class=table1 style="width:1024px;" summary="Training Ground">
            <caption>Training Ground</caption>
            <thead>
                <tr>
                <th scope=col>name</th>
                <th scope=col>nat</th>
                <th scope=col>age</th>
                <th scope=col>side</th>
                <th scope=col>st</th>
                <th scope=col>tk</th>
                <th scope=col>ps</th>
                <th scope=col>sh</th>
                <th scope=col>stamina</th>
                <th scope=col>ag</th>
                <th scope=col>st_ab</th>
                <th scope=col>tk_ab</th>
                <th scope=col>ps_ab</th>
                <th scope=col>sh_ab</th>
                <th scope=col>games</th>
                <th scope=col>saves</th>
                <th scope=col>tackles</th>
                <th scope=col>keypasses</th>
                <th scope=col>shots</th>
                <th scope=col>goals</th>
                <th scope=col>assists</th>
                <th scope=col>dp</th>
                <th scope=col>injury</th>
                <th scope=col>sus</th>
                <th scope=col>fit</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>-->
    </div>
</div>
