<!DOCTYPE html>
<html lang=en>
<head>
<meta charset=utf-8 />
<title>433 Manager</title>
<link rel=stylesheet href=../css/main.css />
<link rel=stylesheet href=../css/dialog.css />
</head>
<body>

<header class=gr>
<div class=gc-1-2>
<div id=managerBox>
<a href=#managerBoxMenu>Manager Box Menu</a>
</div></div>
<div class=gc-1-4><div id=golds></div></div>
<div class=gc-1-4><div id=diamonds></div></div>
</header>

<nav>
<ul id=gameMenu>
<li id=stadium><a href=#stadium>Stadium</a></li>
<li id=news><a href=#news>News Center</a></li>
<li id=academy><a href=#academy>Academy Center</a></li>
<li id=rehab><a href=#rehab>Rehab Center</a></li>
<li id=admin><a href=#admin>Admin Center</a></li>
<li id=train><a href=#train>Training Ground</a></li>
<li id=fame><a href=#fame>Hall of Fame</a></li>
<li id=factory><a href=#factory>Gear Factory</a></li>
</ul>
</nav>

<footer>
<ul id=shortcut>
<li id=stadium><a href=#stadium>Stadium</a></li>
<li id=news><a href=#news>News Center</a></li>
<li id=academy><a href=#academy>Academy Center</a></li>
<li id=rehab><a href=#rehab>Rehab Center</a></li>
<li id=admin><a href=#admin>Admin Center</a></li>
<li id=train><a href=#train>Training Ground</a></li>
<li id=fame><a href=#fame>Hall of Fame</a></li>
<li id=factory><a href=#factory>Gear Factory</a></li>
</ul>
</footer>

</body>
</html>
