<link rel=stylesheet href=../css/main.css />
<link rel=stylesheet href=../css/dialog.css />

<header class=gr>
<div class=gc-1-2>
<div id=managerBox>
<a href=#managerBoxMenu>Manager Box Menu</a>
</div></div>
<div class=gc-1-4><div id=golds></div></div>
<div class=gc-1-4><div id=diamonds></div></div>
</header>

<nav>
<ul id=gameMenu>
<li id=stadium><a href=#stadium title=Stadium>Stadium</a></li>
<li id=news><a href=#news title="News Center">News Center</a></li>
<li id=academy><a href=#academy title="Academy Center">Academy Center</a></li>
<li id=rehab><a href=#rehab title="Rehab Center">Rehab Center</a></li>
<li id=admin><a href=#admin title="Admin Office">Admin Office</a></li>
<li id=train><a href=#train title="Training Ground">Training Ground</a></li>
<li id=fame><a href=#fame title="Hall of Fame">Hall of Fame</a></li>
<li id=factory><a href=#factory title="Gear Factory">Gear Factory</a></li>
</ul>
</nav>

<footer>
<ul id=shortcut>
<li id=stadium><a href=#stadium title=Stadium>Stadium</a></li>
<li id=news><a href=#news title="News Center">News Center</a></li>
<li id=academy><a href=#academy title="Academy Center">Academy Center</a></li>
<li id=rehab><a href=#rehab title="Rehab Center">Rehab Center</a></li>
<li id=admin><a href=#admin title="Admin Office">Admin Office</a></li>
<li id=train><a href=#train title="Training Ground">Training Ground</a></li>
<li id=fame><a href=#fame title="Hall of Fame">Hall of Fame</a></li>
<li id=factory><a href=#factory title="Gear Factory">Gear Factory</a></li>
</ul>
</footer>

<script type=text/templ templ=managerInfo>
</script>
<script type=text/templ templ=goldInfo>
</script>
<script type=text/templ templ=diamondInfo>
</script>

<script name=managerInfo>
var me = this;

var onLoad = function(){
};

me.use(G_SESSION.USER_DATA);
me.slot(pico.LOAD, onLoad);
</script>
